<component name="libraryTable">
  <library name="Spring Integration-4.0.3" type="spring-integration">
    <properties version="4.0.3" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-event-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-feed-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-amqp-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-gemfire-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-file-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ftp-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-core-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-http-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-groovy-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ip-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jms-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jmx-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jpa-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-mail-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-jdbc-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-mqtt-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-rmi-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-redis-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-mongodb-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-security-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-stream-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-scripting-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-sftp-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-syslog-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-twitter-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-test-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-ws-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-xml-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-integration-xmpp-4.0.3.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>